<!DOCTYPE html>
	<head>
		<title>botShare</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
		<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>	
	</head>
	<body>
		<div class="jumbotron col-md-10 col-md-offset-1">
		  <h1><strong>BOT</strong>SHARE</h1>
		  <p>This application is based on python - share files accross your network!</p>
		  <h2>Uploaded Successfully!</h2>
		  <p><a href="http://{{ip}}:{{port}}" class="btn btn-primary btn-lg">Send more</a></p>

		 
		</div>
	</body>
</html>
